@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2");
  src: local("OpenSans-Bold"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2");
  src: local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2");
  src: local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Italic.woff2");
  src: local("OpenSans-Italic"),
    url("../fonts/OpenSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

svg {
  flex-shrink: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

button {
  border: none;
}

figure {
  margin: 0;
}

h3, p {
  margin: 0;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.heading {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 65.37px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0 40px 0;
  max-width: 1600px;
}

.btn {
  display: block;
  padding: 17px 35px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24.51px;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  color: #9D5CD0;
}

:focus-visible {
  outline: none;
}

/*:focus {
  background-color: tomato;
}*/

/*слайдер галерея*/

.swiper-hard {
  position: relative;
}

.nav-block {
  position: absolute;
  top: -70px;
}

.swiper-pagination-hard,
.swiper-button-prev-hard,
.swiper-button-next-hard {
  position: absolute;
}

.container__gallery {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 93px;
  overflow: hidden;
}



.slide {
  background-color: transparent;
}

@media (max-width: 580px) {
  .slides-wrap {
    flex-wrap: wrap;
  }

  .slide {
    width: calc(100% / 2 - 10px);
    margin-bottom: 20px;
  }
}
/*слайдер галерея*/

/*header*/

.burger-menu__content {
  display: flex;
}

.burger-menu__list {
  font-size: 24px;
  line-height: 64px;
  display: flex;
  max-width: 896px;
  flex-wrap: wrap;
}

.burger-menu__close {
  margin-bottom: 20px;
  display: none;
}

.burger-menu__btn {
  display: none;
}

/*.content__icons {
  display: none;
}*/

@keyframes backgrounds {
  0% {
    background-image: url(../img/header-background.jpg);
  }

  50% {
    background-image: url(../img/header-background2.png);
  }

  100% {
    background-image: url(../img/header-background3.png);
  }
}

.header-hero {
  background-image: url(../img/header-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 16px;
  animation: backgrounds 15s alternate ease-in-out infinite;
}

.burger_1024, .burger_320, .header__logo-1024, .header__logo-320, .search-block-1024, .loopa-320, .search-block-320 {
  display: none;
}


.header__content-one {
  max-width: unset;
  margin-left: auto;
  margin-right: auto;
  /*height: 100px;*/
  padding: 18px 0 23px 0;
  display: flex;
  align-items: center;
  color: white;
  background-color: black;
}

.header__container {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1920px;
}


.header__top {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  display: flex;
  align-items: center;
  color: white;
}

.header__top__1024 {
  display: none;
}

.header__logo {
  margin-right: 179px;
}

.header__logo-1024 {
  display: none;
}

.header__logo-320 {
  display: none;
}

.burger-menu {
  margin-right: auto;
  margin-top: -3px;
}

.burger-menu__list {
  display: flex;
}

.search-block-320 {
  display: none;
}

.burger-menu__list-item:not(:last-child) {
  margin-right: 55px;
}

.header__item-link {
  padding: 0 3px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24.51px;
  transition: color 250ms linear,
    background-color 250ms linear;
}

.header__item-link:hover {
  color: #C283F3;
}

.header__item-link:focus {
  background-color: #7943A4;
}

.header__item-link:active {
  background-color: transparent;
  color: #7943A4;
}

.header__login {
  display: flex;
  align-items: center;
  position: relative;
}

.header__login-link {
  padding: 3px 0 3px 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.51px;
  transition: color 250ms linear,
    background-color 250ms linear
}

.header__login-img {
  position: absolute;
  left: 5px;
}

.header__login-img path {
  transition: fill 250ms linear;
}

.header__login:hover .header__login-link {
  color: #C283F3;
}

.header__login:hover .header__login-img path {
  fill: #C283F3;
}

.header__login-link:focus {
  background-color: #7943A4;
  color: #fff;
}

.header__login:active .header__login-link {
  background-color: transparent;
  color: #7943A4;
}

.header__login:active .header__login-img path {
  fill: #7943A4;
}

.header__login-img {
  margin-right: 7px;
}

.header__content-two {
  background-color: rgba(0, 0, 0, 0.4);
}

.header__bottom {
  max-width: 1600px;
  /*height: 70px;*/
  padding: 17px 0 20px 0;
  margin-left: auto;
  margin-right: auto;
  color: white;
  display: flex;
  align-items: center;
}

.header__list {
  padding-top: 2px;
  margin-left: -5px;
  display: flex;
  margin-right: auto;
  flex-wrap: wrap;
}

.header__list-item {
  position: relative;
}

.header__list-item:not(:last-child) {
  margin-right: 86px;
}

.header__list-item-block {
  padding-left: 4px;
  padding-right: 23px;
  display: flex;
  position: relative;
  cursor: pointer;
  transition: all 250ms linear;
}

.header__list-item-block:focus {
  background-color: #7943A4;
}

.header__list-item-block:hover {
  color: rgba(157, 92, 208, 1);
  background-color: transparent;
}
.header__list-item-block:hover .header__list-item-arrow {
  border-color: rgba(157, 92, 208, 1);
}

.header__list-item-block:active {
  color: rgba(157, 92, 208, 1);
  background-color: transparent;
}

.header__list-item-block.clicked .header__list-item-arrow {
  border-color: rgba(157, 92, 208, 1);
  transform: translateY(5px);
  transform: rotate(225deg);
  top: 12px;
}

.header__list-item-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.51px;
}

.header__list-item-arrow {
  width: 8px;
  height: 8px;
  border: 1px solid #FFF;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
  position: absolute;
  right: 8px;
  top: 7px;
  transition: all 250ms linear;
}

.dropdown {
  width: 300px;
  height: 300px;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 44px;
}

.header__list-item__dropdown-shown {
  display: block;
}

.dropdown__list {
  padding: 40px;
}

.dropdown__list-item {
  width: 220px;
  height: 40px;
}

.dropdown__list-item:not(:last-child) {
  margin-bottom: 15.5px;
}

.dropdown__text {
  padding-top: 9px;
  padding-left: 14px;
  display: block;
  width: 220px;
  height: 40px;
  top: 10px;
  left: 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  background-size: cover;
  transition: all 250ms linear;
}

.dropdown__text.one {
  background-image: url("../img/drop1.png");
}

.dropdown__text.two {
  background-image: url("../img/drop2.png");
}

.dropdown__text.three {
  background-image: url("../img/drop3.png");
}

.dropdown__text.four {
  background-image: url("../img/drop4.png");
}

.dropdown__text.five {
  background-image: url("../img/drop5.png");
}

.dropdown__text.six {
  background-image: url("../img/drop6.png");
}

.dropdown__text.seven {
  background-image: url("../img/drop7.png");
}

.dropdown__text.eight {
  background-image: url("../img/drop8.png");
}

.dropdown__text.nine {
  background-image: url("../img/drop9.png");
}

.dropdown__text.ten {
  background-image: url("../img/drop10.png");
}

.dropdown__text.eleven {
  background-image: url("../img/drop11.png");
}

.dropdown__text.twelve {
  background-image: url("../img/drop12.png");
}

.dropdown__text.thirteen {
  background-image: url("../img/drop13.png");
}

.dropdown__text.fourteen {
  background-image: url("../img/drop14.png");
}

.dropdown__text.fifteen {
  background-image: url("../img/drop15.png");
}

.dropdown__text.sixteen {
  background-image: url("../img/drop16.png");
}

.dropdown__text.seventeen {
  background-image: url("../img/drop17.png");
}

.dropdown__text.eighteen {
  background-image: url("../img/drop18.png");
}

.dropdown__text.nineteen {
  background-image: url("../img/drop19.png");
}

.dropdown__text.twelve {
  background-image: url("../img/drop20.png");
}

.dropdown__text:hover {
  outline: 2px solid #9D5CD0;
  outline-offset: -2px;
}

.dropdown__text:focus {
  outline: 2px solid #9D5CD0;
  outline-offset: -2px;
}

.dropdown__text:active {
  background: rgba(194, 131, 243, 0.4);
}


.simplebar-scrollbar.simplebar-visible {
  height: 28px !important;
  display: block !important;
}

.simplebar-scrollbar::before {
  background-color: #FFF;
  border-radius: unset;
  right: 0;
  left: 0;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  right: 20px;
  background-color: black;
  margin-top: 40px;
  margin-bottom: 40px;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.header__search {
  padding-top: 3px;
  display: flex;
}

.header__search-logo {
  margin-right: 9px;
  margin-top: 4px;
}

.header__search-form {
  width: 218px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.51px;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
}

.header__search-form::placeholder {
  color: #fff;
  margin-left: -3px;
}

.header__search-form:focus,
.header__search-form:active,
.header__search-form:hover {
  border: none;
  border-bottom: 1px solid #7943A4;
}

.header__search-form:active::placeholder {
  color: transparent;
}

/*hero*/

.hero {
  max-width: 1600px;
  /*height: 646px;*/
  margin-left: auto;
  margin-right: auto;
  padding-top: 73px;
  padding-bottom: 145px;
}

.hero__heading {
  max-width: 597px;
  /*height: 192px;*/
  margin: 0;
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 72px;
  line-height: 82.8px;
  color: #fff;
}

.hero__text {
  max-width: 579px;
  margin: 0;
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 115px;
}

.hero__btn {
  padding: 22.5px 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24.51px;
  color: #fff;
  background-color: #9D5CD0;
  border-radius: 100px;
  transition: outline 250ms linear,
    background-color 250ms linear;
}

.hero__btn:hover {
  outline: 3px solid rgba(209, 169, 240, 1);
}

.hero__btn:active {
  outline: 3px solid rgba(209, 169, 240, 1);
  background-color: #7943A4;
}

.hero__btn:focus {
  outline: 2px solid rgba(194, 131, 243, 1);
  outline-offset: 3px;
}


/*about*/

.about {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 70px;
}

.about__heading {
  margin-bottom: 17px;
}

.about__text {
  max-width: 1080px;
}

/*gallery*/

.gallery-main {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 0 70px 0;
  display: flex;
  justify-content: space-between;
}

.gallery {
  background-image: url("../img/gallery-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery__content {
  width: 400px;
  color: #fff;
  margin-right: 50px;
}

.gallery__small-heading {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 32px;
}

.gallery__content-text-link {
  color: #C283F3;
}

.gallery__content-choices {
  margin-bottom: 554px;
}

.gallery__content-heading {
  /*padding-top: 80px;*/
  margin-bottom: 15px;
}


[class*="choices__item"] {
  color: #fff;
  opacity: 1;
}

.choices__inner,
.choices__list {
  background-color: transparent;
  /*transition: all 250ms linear;*/
  font-size: 16px;
}

.choices {
  top: 10px;
  transition: all 250ms linear;
  z-index: 2;
}


.choices:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices {
  margin-bottom: 560px;
}

.choices__inner {
  border: 1px solid #fff;
  border-radius: 6px;
}

.is-focused .choices__inner, .is-open .choices__inner {
  border-color: #fff;
  border-radius: 6px;
}

.is-selected {
  display: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: transparent;
  transition: all 250ms linear;
}

.choices__list--dropdown:hover .choices__item--selectable.is-highlighted:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFF;
}

.is-open .choices__list--dropdown {
  border-color: #999;
  border-radius: 6px;
}

.choices__item--choice {
  color: #999;
  background-color: rgba(0, 0, 0, 0.8);
}

.choices__item--choice:not(:last-child) {
  border-bottom: 1px solid #999;
}


.choices[data-type*=select-one]:after {
  content: '';
  height: 8px;
  width: 8px;
  border-style: solid;
  border-color: #FFF;
  border-width: 1px;
  transform: rotate(45deg);
  border-top: none;
  border-left: none;
  position: absolute;
  right: 18px;
  top: 40%;
  margin-top: -2.5px;
  pointer-events: none;
}

.choices[data-type*=select-one].is-open:after {
  content: '';
  height: 8px;
  width: 8px;
  border-style: solid;
  border-color: #FFF;
  border-width: 1px;
  transform: rotate(45deg);
  border-top: none;
  border-left: none;
  position: absolute;
  right: 18px;
  top: 40%;
  margin-top: -2.5px;
  pointer-events: none;
}

.gallery__content-text {
  max-width: 350px;
  font-weight: 600;
}

.gallery__content-text__768 {
  display: none;
}

.swiper {
  margin: 0;
}

.gallery__swiper {
  max-width: 1150px;
  padding-top: 85px;
  position: relative;
}

.gallery__nav {
  position: absolute;
  top: -75px;
}

.swiper-slide__tablet {
  display: none;
}

.swiper-slide__mobile {
  display: none;
}

.swiper-slide__img {
  margin-bottom: 50px;
}

.swiper-slide__img:not(:nth-child(3n)) {
  margin-right: 45px;
}

.swiper-slide__img__1024 {
  display: none;
}

.swiper-slide__img__768 {
  display: none;
}

.swiper-slide__img__320 {
  display: none;
}

.swiper-button-next, .swiper-button-prev {
  top: 125px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #666;
  transition: background-color 250ms linear;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  background-color: rgba(157, 92, 208, 1);
}

.swiper-button-next:active, .swiper-button-prev:active {
  background-color: rgba(121, 67, 164, 1);
}

.swiper-button-next:focus, .swiper-button-prev:focus {
  outline: 2px solid rgba(0, 0, 0, 1);
}

.swiper-button-prev:after {
  content: '';
  width: 8px;
  height: 8px;
  border-style: solid;
  border-color: #FFF;
  border-width: 1px;
  transform: rotate(135deg);
  border-top: none;
  border-left: none;
}

.swiper-button-next:after {
  content: '';
  width: 8px;
  height: 8px;
  border-style: solid;
  border-color: #FFF;
  border-width: 1px;
  transform: rotate(-45deg);
  border-top: none;
  border-left: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  left: 100px;
}

.swiper-pagination {
  color: #FFF;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  width: 47px;
  top: 102px;
  left: 41px;
}

.swiper-pagination-current {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.gallery-slide::after,
.gallery-slide-active::after {
  content: '';
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('../img/hover-loopa.png');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 25px;
  right: 25px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 250ms linear;
}

.gallery-slide:hover::after,
.gallery-slide-active:hover::after {
  opacity: 1;
}

.gallery-slide::before,
.gallery-slide-active::before {
  content: '';
  width: 100%;
  height: 350px;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition: all 250ms linear;
}

.gallery-slide:focus::before,
.gallery-slide-active:focus::before {
  border-color:#7943A4;
}

.gallery-slide:active::before,
.gallery-slide-active:active::before {
  background-color: rgba(194, 131, 243, 0.4);
  border-color:#D1A9F0;
}

.gallery__painting {
  display: none;
}

.gallery__drawing {
  display: none;
}

.gallery__sculpt {
  display: none;
}

.gallery__drawing, .gallery__sculpt {
  max-width: 1150px;
  margin-top: 165px;
}

.gallery__drawing-img, .gallery__sculpt-img {
  margin-bottom: 50px;
}

.gallery__drawing-img:not(:nth-child(3n)), .gallery__sculpt-img:not(:nth-child(3n)) {
  margin-right: 45px;
}

.gallery-active {
  display: block;
}

/*catalog*/

.catalog {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
}

.catalog__top {
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}

.catalog__heading {
  margin-right: 34px;
}

.catalog__tabs-list {
  margin-top: 3px;
}

.catalog__tabs-item:not(:last-child) {
  margin-right: 24px;
}

.catalog__text {
  margin-bottom: 38px;
}

.catalog__content {
  display: none;
}

.catalog__show {
  display: flex;
}

.catalog__content-info {
  max-width: 750px;
  margin-right: 50px;
}

.catalog__content-info-img {
  margin-bottom: 28px;
}

.catalog__content-header {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32.68px;
}

.catalog__content-years {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 16.34px;
  color: #999;
}

.catalog__content-text {
  margin-top: 5px;
}

.catalog__text {
  max-width: 1080px;
}

.catalog__accordion {
  width: 800px;
}

.catalog__accordion-years {
  margin: 0;
  margin-right: auto;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /*color: #333;*/
}

.catalog__accordion-years:focus {
  background-color: rgba(121, 67, 164, 1);
  color: #fff;
}

.catalog__accordion-header {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.catalog__accordion-header {
  border-top: 1px solid #cacaca;
}

.catalog__accordion-header:hover {
  color: #9D5CD0;
  border-top: 1px solid #9D5CD0;
}

.catalog__accordion-header:hover .catalog__accordion-years {
  color: #9D5CD0;
}

.catalog__accordion-item:hover+.catalog__accordion-item {
  border-top: 1px solid #9D5CD0;
}

.catalog__accordion-item:hover+.catalog__accordion-item .catalog__accordion-header {
  border: none;
}

.catalog__accordion-header:active {
  color: #7943A4;
  border-top: 1px solid #7943A4;
}

.catalog__accordion-item:active+.catalog__accordion-item {
  border-top: 1px solid #7943A4;
}

.ui-accordion-header-active path {
  fill: #D1A9F0;
  stroke: #9D5CD0;
  stroke-width: 2px;
}

.catalog__accordion-svg {
  transition: transform 300ms linear;
}

.catalog__accordion-svg path {
  transition: fill 300ms linear;
}

.ui-accordion-header-active {
  margin-bottom: 25px;
  border-top: none;
  border-top: 1px solid #7943A4;
  border-bottom: 1px solid #7943A4;
  color: #9D5CD0;
}


.catalog__accordion-header:hover .catalog__accordion-svg path {
  fill: #D1A9F0;
}

.ui-accordion-header-active .catalog__accordion-svg {
  transform: rotateX(180deg);
}

.artists-list {
  margin-bottom: 25px;
  width: 726px;
  /*display: flex;
  flex-direction: column;
  flex-wrap: wrap;*/
  min-height: 288px;
  column-count: 3;
}

.catalog__accordion-artists {
  color: #333;
  transition: color 250ms linear, background-color 250ms linear, border 1s linear;
}

.catalog__accordion-artists:focus {
  color: #fff;
  background-color: #7943A4;
}

.catalog__accordion-artists:hover {
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
}

.catalog__accordion-artists:active {
  color: #7943A4;
  border-bottom: none;
  background-color: transparent;
}

.catalog__tabs-item {
  padding: 10px;
  transition: filter 250ms linear,
    outline 250ms linear;
}

.catalog__tabs-item:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.catalog__tabs-item:focus {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.catalog__tabs-item:active {
  outline: 2px solid #7943A4;
  outline-offset: -11px;
  border-radius: 50%;
}

.catalog__tabs-item__show {
  padding: 10px;
  outline: 2px solid #7943A4;
  border-radius: 50%;
}

.catalog__accordion-item:last-child {
  border-bottom: 1px solid #cacaca;
}

.catalog__accordion-item:last-child:hover {
  border-bottom: 1px solid #9D5CD0;
}

.catalog__placholder-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 21.79px;
  color: #9D5CD0;
}

.catalog__placeholder-square {
  width: 251px;
  height: 165px;
  margin: 12px;
  background-color: #B7B7B7;
}

.catalog__placeholder-content {
  display: flex;
}


.square-outline {
  outline: 2px solid #B7B7B7;
  margin-right: 24px;
  margin-bottom: 25px;
}

.catalog__placeholder-text {
  width: 275px;
  line-height: 21.79px;
}

.catalog__small-heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

/*events*/

.events {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
}

.events__heading {
  margin-bottom: 15px;
}

.events__content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 23px;
}

.events__block {
  max-width: 500px;
  margin-bottom: 27px;
  height: 700px;
  font-size: 0;
}


.events__block:not(:nth-child(3n)) {
  margin-right: 50px;
}

.events__info {
  padding: 13px 19px 41px 50px;
  height: 400px;
  border: 1px solid #999;
  border-top: none;
  display: flex;
  flex-direction: column;
}

.events__img-text {
  margin: 0;
  text-align: end;
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  color: #999;
  line-height: 16.34px;
  align-self: flex-end;
  white-space: nowrap;
}

.events__img-text-down {
  padding-top: 0;
  margin-bottom: 5px;
  white-space: nowrap;
  font-weight: 600;
  font-size: 12px;
  color: #999;
  line-height: 16.34px;
  align-self: flex-end;
}

.events__small-heading {
  margin: 0;
  margin-bottom: 2px;
  width: 420px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32.68px;
}

.events__text {
  width: 400px;
  margin: 0;
  margin-bottom: auto;
}

.events__link {
  position: relative;
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
  font-size: 16px;
  line-height: 32px;
  align-self: flex-start;
  transition: all 250ms linear;
}

.events__link:focus {
  color: #fff;
  border: none;
}

.events__link::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 8px);
  height: 100%;
  transform: translate(-50%, -50%) scaleX(0);
  background-color: #9D5CD0;
  transition: transform .3s ease;
}

.events__link:focus::before {
  transform: translate(-50%, -50%) scaleX(1);
}

.events__link:not(:focus):active {
  color: #333;
  border-color: #333;
}

.events__link-focus {
  width: 104px;
  padding: 5px 6px;
}

.events__link-focus:focus {
  background-color: #9D5CD0;
}

.events__link-focus:focus .events__link {
  color: #FFF;
  border-color: #fff;
}

.events__link:hover {
  color: rgba(121, 67, 164, 1);
}

.events__btn {
  padding: 16px 35px;
  position: relative;
  text-align: center;
  max-width: 188px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  transition: color 250ms linear,
    border 950ms linear,
    background-color 250ms linear;
}

.events__btn::after {
  content: '';
  position: absolute;
  top: -7px;
  left: -7px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border: 2px solid transparent;
  border-radius: 50px;
  transition: all 250ms linear;
}

.events__btn:hover {
  background-color: #9D5CD0;
  color: #fff;
}

.events__btn:active {
  outline: 3px solid rgba(209, 169, 240, 1);
  background-color: #7943A4;
}

.events__btn:focus:not(:active):not(:hover)::after {
  border-color: #C283F3;
}

.events__btn:active::after {
  border-color: transparent;
}


.events__block__hidden {
  display: none;
}

.events__block-three {
  display: none;
}

.swiperEvents {
  display: none;
}

/*publishing*/

.publishing__content {
  display: flex;
  padding-top: 160px;
}

.publishing {
  background-image: url("../img/bublishing__background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.publishing__container {
  display: flex;
  padding-top: 80px;
  padding-bottom: 72px;
}

.publishing__books__mobile {
  display: none;
}

.publishing__info {
  margin-right: 178px;
  color: #FFF;
}

.publishing__checklist {
  width: 265px;
}

.publishing__checklist-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.publishing__checklist-label {
  padding-left: 24px;
  position: relative;
}

.publishing__checklist-checkbox {
  position: absolute;
  width: 1px;
  height: -1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.publishing__checklist-checkbox+.publishing__checklist-square {
  transition: color 250ms linear, border-color 250ms linear;
}

.publishing__checklist-checkbox:focus+.publishing__checklist-square {
  border-color: #C283F3;
  color: #C283F3;
}

.publishing__checklist-checkbox+.publishing__checklist-square {
  position: absolute;
  left: 0;
  top: 5px;
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
}

.publishing__checklist-checkbox+.publishing__checklist-square::before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #C283F3;
  display: inline-block;
  position: absolute;
  top: 30%;
  right: 30%;
  opacity: 0;
}

.publishing__checklist-checkbox:checked+.publishing__checklist-square::before {
  opacity: 1;
}

.publishing__checklist-checkbox:checked+.publishing__checklist-square {
  border-color: #C283F3;
  color: #C283F3;
}

.test {
  width: 250px;
  padding-left: 24px;
  position: absolute;
  top: -11px;
  font-size: 16px;
  line-height: 32px;
}

/*Подсказали*/

.form-container {
  display: none;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-left: 0;
  list-style: none;
}

.heading-form {
  position: relative;
  width: 100%;
  padding: 13px 40px 13px 0;
  border: none;
  color: #ffffff;
  text-align: left;
  font-size: 24px;
  background-color: transparent;
}

.checkbox-wrap {
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.checkbox-wrap:hover {
  color: #C283F3;
}

.checkbox-wrap:hover .visual-check {
  border-color: #C283F3;
}

.visual-check {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: border-color 0.3s ease;
}

.visual-check::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #C283F3;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
}

.check-text {
  padding-left: 12px;
}



.checkbox:focus:not(:checked)~.checkbox-content .visual-check,
.checkbox:checked~.checkbox-content .visual-check {
  border-color: #C283F3;
}

.checkbox:focus:not(:checked)~.checkbox-content .check-text,
.checkbox:checked~.checkbox-content .check-text {
  color: #C283F3;
}

.checkbox:checked~.checkbox-content .visual-check::before {
  opacity: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/*Подсказали*/


.swiper__publishing__tablet {
  display: none;
}


.publishing__article {
  padding-bottom: 15px;
  color: #fff;
}

.publishing__article:not(:last-child) {
  margin-right: 50px;
}

.publishing__link {
  width: 120px;
  height: 40px;
  display: inline;
  padding: 7px 20px;
  color: #fff;
  font-size: 16px;
  line-height: 21.79px;
  transition: all 250ms linear;
}

.publishing__link:hover {
  background-color: #9D5CD0;
}

.publishing__link:focus {
  outline: 2px solid #C283F3;
  outline-offset: 3px;
  border: 2px solid #9D5CD0;
}

.publishing__link:active {
  background-color: #7943A4;
  outline: 3px solid #D1A9F0;
}

.publishing__img {
  margin-bottom: 20px;
}

.publishing__name-price {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 21.79px;
}

.publishing__name {
  font-weight: 700;
  font-size: 16px;
}

.publishing__price {
  font-style: italic;
}

.publishing__price.mobile {
  display: none;
}

.publishing__author {
  margin-bottom: 23px;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
}

.publishing__checklist-heading {
  margin-top: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}

.publishing__range {
  margin-top: -4px;
}

.publishing__form {
  width: 273px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

.form-price {
  text-indent: 10px;
  width: 73px;
  height: 40px;
  border: none;
  background-color: rgba(157, 92, 208, 0.5);
  color: #fff;
  transition: all 250ms linear;
}

.form-price:hover {
  background-color: #9D5CD0;
}

.form-price:focus {
  background-color: #9D5CD0;
  outline: 1px solid #FFF;
}

.form-price:active {
  background-color: #7943A4;
}

.publishing__small-heading {
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 5px;
  margin-top: 32px;
}

/*projects*/

/*.projects {
  margin-bottom: 80px;
}*/

.projects__container {
  padding-top: 80px;
}

.projects__link {
  color: #9D5CD0;
  font-weight: 600;
}

.projects__tip {
  vertical-align: middle;
}

.projects__tip:focus .fill-violet {
  fill: #D1A9F0;
}

.projects__tip:hover .fill-violet {
  fill: #D1A9F0;
}

.projects__tip:active .fill-white {
  fill: white;
}

.projects__tip:active .fill-violet {
  stroke: #D1A9F0;
}

.tippy-box {
  background-color: #9D5CD0;
  border-radius: 0%;
}

.tippy-content {
  padding: 8px 11px 12px;
  max-width: 265px;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 16.34px;
}

.tippy-arrow {
  color: #9D5CD0;
}

.projects__heading {
  margin-bottom: 15px;
}

.projects__text {
  width: 1055px;
  margin-bottom: 22px;
}

.swiper-turbo {
  width: 1600px;
  overflow: hidden;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}

.swiper-turbo-slide-active {
  padding-left: 30px;
}

.swiper-turbo-img {
  filter: grayscale(100%) opacity(50%);
  transition: all 250ms linear;
}

.swiper-turbo-img:hover {
  filter: unset;
}

.swiper-turbo-img:focus {
  outline: 1px solid #9D5CD0;
}

.swiper-turbo-img:active {
  outline: 1px solid #9D5CD0;
  outline-offset: -2px;
}

.swiper-button-prev-turbo, .swiper-button-next-turbo {
  background-color: #ECECEC;
}

.swiper-button-prev-turbo:hover, .swiper-button-next-turbo:hover {
  background-color: #D1A9F0;
}

.swiper-button-prev-turbo:focus, .swiper-button-next-turbo:focus {
  outline: 2px solid #9D5CD0;
  outline-offset: -2px;
}

.swiper-button-prev-turbo::after, .swiper-button-next-turbo::after {
  border-color: #000;
}

.swiper-button-prev-turbo {
  top: 80px;
}

.swiper-button-next-turbo {
  left: 0;
  right: 0;
  top: 80px;
  bottom: 0;
  left: 1570px;
}

.projects__small-heading {
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

/*contacts*/

.contacts__container {
  max-width: 1920px;
  padding-top: 35px;
  padding-bottom: 0;
}

.contacts__btn {
  display: inline;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 35px;
  background-color: transparent;
  width: 157px;
  transition: all 250ms linear;
}

.contacts__btn-link {
  color: #9D5CD0;
}

.contacts__btn:hover {
  background-color: #9D5CD0;
}

.contacts__btn:hover .contacts__btn-link {
  color: #FFF;
}

.contacts__btn:active {
  background-color: #7943A4;
  outline: 3px solid #D1A9F0;
}

.contacts__heading {
  margin-bottom: 16px;
  margin-left: 160px;
}

.contacts__info {
  padding-right: 102px;
  padding-left: 160px;
  padding-top: 124px;
  width: 672px;
  border: 1px solid #CACACA;
}

.contacts__small-heading {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.contacts__text {
  display: block;
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.contacts__callback {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.contacts__social-img {
  transition: all 250ms linear;
}

.contacts__social-img {
  margin-right: 18px;
}

.contacts__social-img:hover {
  filter: opacity(50%);
}

.contacts__link:focus .contacts__social-img{
  filter: opacity(50%);
}

.contacts__social-img:active {
  outline: 1px solid #9643A4;
  outline-offset: -1px;
  border-radius: 100%;
  filter: unset;
}

.contacts__form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.map {
  width: 1238px;
  height: 700px;
}

.contacts__map.mobile {
  display: none;
}

[class*="ground-pane"] {
  filter: grayscale();
}

.ymaps-2-1-79-controls__toolbar_right {
  display: none;
}

.ymaps-2-1-79-zoom__scale {
  display: none;
}

.ymaps-2-1-79-search {
  display: none !important;
}

.ymaps-2-1-79-zoom {
  margin-left: 1180px;
  margin-top: 150px;
}

.ymaps-2-1-79-zoom__plus {
  top: 37% !important;
  border-radius: 9px !important;
  border-bottom-left-radius: 0% !important;
  border-bottom-right-radius: 0% !important;
}

.ymaps-2-1-79-zoom__minus {
  bottom: 37% !important;
  border-radius: 9px !important;
  border-top-left-radius: 0% !important;
  border-top-right-radius: 0% !important;
}

.ymaps-2-1-79-controls__control_toolbar {
  margin-left: 1190px !important;
  margin-top: 400px !important;
  border-radius: 5px !important;
}

.contacts__name, .contacts__tel {
  padding-top: 0;
  padding-left: 24px;
  height: 40px;
  width: 400px;
  line-height: 40px;
  border: 1px solid black;
  border-radius: 100px;
  transition: background-color 250ms linear;
}

.contacts__name:hover, .contacts__tel:hover {
  background-color: #EAEAEA;
}

.contacts__name:focus, .contacts__tel:focus, .contacts__name:active, .contacts__tel:active {
  border-color: black;
}

.just-validate-error-field {
  border-color: #D11616;
}

.contacts__form-group {
  margin-bottom: 23px;
  position: relative;
}

.just-validate-error-label {
  position: absolute;
  top: -18px;
  left: 25px;
  font-size: 12px;
  line-height: 16.34px;
}

/*footer*/

.footer {
  background-color: black;
}

.footer__container {
  padding: 47px 0px;
  display: flex;
  justify-content: space-between;
}

.footer__social {
  width: 175px;
}

.footer__social-link.vk1024 {
  display: none;
}

.footer__social-link path {
  transition: all 250ms linear;
}

.footer__social-link:not(:last-child) {
  margin-right: 15px;
}

.footer__social-link:hover path {
  fill: #FFF;
}

.footer__social-link:focus path {
  fill: #FFF;
}

.footer__social-link:focus path {
  fill: #9D5CD0;
}

@media (max-width: 1685px) {

  .publishing__info {
    margin-right: 3px;
}

}

@media (max-width: 1600px) {

  .container {
    max-width: 925px;
  }

  .hero {
    padding-left: 0;
    padding-right: 263px;
  }

  .header__top {
    display: none;
  }

  .header__content-one {
    display: flex;
    padding: 29px 0 29px 0;
  }

  .header__container {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    max-width: 925px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .burger_1024 {
    display: block;
    margin-right: 332px;
  }

  .burger-menu {
    width: 1024px;
    height: 768px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-201%);
    transition: transform 500ms linear;
    z-index: 10;
  }

  .menu__clicked {
    transform: none;
  }

  /*.content__icons {
    display: flex;
    justify-content: space-between;
  }*/

  .burger-menu__close {
    display: block;
  }

  .burger-menu__btn {
    display: block;
    width: 257px;
    text-align: center;
    color: #FFF;
  }

  .burger-menu__content {
    padding: 37px 0 0 48px;
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .burger-menu__list {
    display: block;
  }

  .header__item-link {
    font-size: 24px;
    line-height: 64px;
  }

  .header__login {
    display: none;
  }

  .header__logo {
    display: none;
  }

  .header__logo-1024 {
    display: block;
    margin-left: -5px;
    margin-right: auto;
  }

  .burger_320 {
    display: none;
  }

  .loopa-320 {
    display: none;
  }

  .search-block-1024__loopa {
    margin-top: 5px;
    position: absolute;
  }

  .header__content-two {
    display: none;
  }

  @keyframes backgrounds {
    0% {
      background-image: url(../img/header-background-1024.jpg);
    }

    50% {
      background-image: url(../img/header-background3-1024.png);
    }

    100% {
      background-image: url(../img/header-background2-1024.png);
    }
  }

  .header-hero {
    background-image: url(../img/header-background-1024.jpg);
    background-position-y: 0;
  }

  .hero {
    padding-top: 113px;
    padding-bottom: 136px;
  }

  .hero__heading {
    margin-top: 0;
    margin-bottom: 12px;
  }

  .hero__text {
    max-width: inherit;
    margin-bottom: 157px;
  }

  .hero__btn {
    margin-bottom: 115px;
  }

  .search-block-1024 {
    display: flex;
    width: 30px;
    height: 36px;
    background-color: transparent;
    transition: width 300ms linear, background-color 500ms linear;
  }

  .search-block-1024__clicked {
    width: 261px;
    background-color: #18171B;
  }

  .search-block-1024__search-1024 {
    display: none;
    margin-left: 40px;
    margin-right: 20px;
    width: 218px;
    color: #FFF;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFF;
  }

  .search-block-1024__close {
    display: none;
  }

  .search__clicked {
    display: block;
  }

  .about {
    padding: 80px 0 68px 0;
  }

  .gallery-main {
    max-width: 920px;
  }

  .gallery {
    background-image: url(../img/gallery-background-1024.jpg);
    background-size: cover;
  }

  .gallery__swiper {
    max-width: 594px;
  }

  .swiper-slide.tablet {
    display: block;
  }

  .swiper-slide__img {
    display: none;
  }

  .swiper-slide__img__1024:not(:nth-child(2n)) {
    margin-right: 29px;
  }

  .swiper-slide__img__1024 {
    display: inline;
    margin-bottom: 34px;
  }

  .swiper-button-next, .swiper-button-prev {
    top: 125px;
  }

  .swiper-button-prev {
    left: 5px;
  }

  .swiper-button-next {
    left: 105px;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    top: 105px;
    left: 46px;
    font-size: 14px;
    line-height: 32px;
  }

  .gallery__content {
    width: 284px;
    margin-left: -2px;
  }

  .gallery__nav {
    top: -80px;
  }

  .gallery-slide::before,
  .gallery-slide-active::before {
    height: 280px;
  }

  .gallery-slide::after,
  .gallery-slide-active::after {
    height: 230px;
    width: 230px;
  }

  .choices {
    margin-bottom: 376px;
    width: 275px;
  }

  .choices__inner {
    padding-top: 3.5px;
    padding-bottom: 0;
    min-height: 40px;
  }

  .choices__list--single {
    padding-bottom: 2px;
  }

  .choices[data-type*=select-one] .choices__inner {
    padding-bottom: 3.5px;
  }

  .catalog {
    padding-top: 78px;
  }

  .catalog__top {
    margin-bottom: 3px;
  }

  .catalog__heading {
    margin-top: -9px;
  }

  .catalog__content-info {
    max-width: 437px;
  }

  .catalog__tabs-list {
    padding-top: 10px;
  }

  .catalog__tabs-item:not(:last-child) {
    margin-right: 25.5px;
  }

  .events__block {
    max-width: 290px;
  }

  .events__small-heading {
    width: 231px;
  }

  .events__text {
    max-width: 222px;
  }

  .events__info {
    height: 483px;
    padding: 14px 18px 45px 35px;
  }

  .events__link {
    margin-left: 0;
  }

  .events__block {
    height: 683px;
  }

  .events__block:not(:nth-child(3n)) {
    margin-right: 27px;
  }

  .publishing {
    background-image: url("../img/publishing__background-1024.jpg");
  }

  .publishing__container {
    padding-bottom: 80px;
  }

  .publishing__img {
    margin-bottom: 10px;
  }

  .publishing__checklist-heading {
    margin-bottom: 1px;
  }

  .swiper__publishing__desktop {
    display: none;
  }

  .swiper__publishing__tablet {
    display: block;
    padding-left: 2px;
  }

  .container__gallery {
    max-width: 670px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .publishing__name, .publishing__author {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


  .swiper-button-prev-turbo {
    top: 80px;
    left: 0;
  }

  .swiper-button-next-turbo {
    top: 80px;
    left: 894px;
  }

  .swiper-turbo {
    width: 925px;
    padding-left: 49px;
    padding-right: 49px;
  }

  .swiper-turbo-slide-active {
    padding-left: 4px;
  }

  .swiper-turbo-img:not(:last-child) {
    margin: 0;
  }

  .contacts__heading {
    margin-left: 50px;
  }

  .contacts__container {
    max-width: 1024px;
  }

  .contacts__info {
    width: 487px;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 124px;
  }

  .contacts__name, .contacts__tel {
    width: 335px;
  }

  .map {
    width: 537px;
  }

  .contacts__social-img {
    margin-right: 25px;
    width: 60px;
    height: 60px;
  }

  .footer__social-link:not(:last-child) {
    margin-right: 30px;
  }

  .catalog__placeholder-square {
    width: 173px;
    height: 114px;
    margin: 8px;
  }

  .catalog__placeholder-text {
    width: 207px;
  }

  .catalog__accordion-header {
    max-width: 437px;
  }

  .artists-list {
    /*max-height: 384px;*/
    width: 447px;
    column-count: 2;
  }

  .catalog__accordion-artists {
    width: 206px;
  }

  .catalog__accordion-artists.one {
    margin-right: 55px;
  }

  .catalog__content-years {
    margin-bottom: 6px;
  }

  .projects__heading {
    margin-bottom: 17px;
  }

  .projects__text {
    width: inherit;
    margin-bottom: 20px;
  }

  .swiper-button-prev-turbo, .swiper-button-next-turbo {
    top: 70px;
  }

  .contacts__callback {
    margin-bottom: 14px;
  }

  .contacts__btn {
    padding: 15px 35px;
    margin-bottom: 38px;
  }

  .footer__social-link {
    width: 60px;
    height: 60px;
  }

  .footer__social-link.vk {
    display: none;
  }

  .footer__social-link.vk1024 {
    display: block;
    margin-right: 30px;
  }

  .footer__social {
    margin-top: -10px;
    width: 240px;
    display: flex;
  }

}

@media (max-width: 1000px) {

  @keyframes backgrounds {
    0% {
      background-image: url(../img/header-background-768.jpg);
    }

    50% {
      background-image: url(../img/header-background2-768.png);
    }

    100% {
      background-image: url(../img/header-background3-768.png);
    }
  }

  .hero {
    padding-right: 0;
  }

  .header-hero {
    background-image: url(../img/header-background-768.png);
  }

  .header__container {
    justify-content: space-between;
  }

  .burger-menu {
    width: 768px;
  }

  .header__top__1024 {
    max-width: 668px;
  }

  .container {
    max-width: 668px;
  }

  .search-block-1024__clicked {
    width: 100%;
    background-color: transparent;
  }

  .search-block-1024__search-1024 {
    width: 576px;
  }

  .burger_1024 {
    display: block;
    margin-right: auto;
  }

  .header__logo-1024 {
    display: block;
  }

  .logo-disabled {
    display: none;
  }

  .gallery {
    background-image: url(../img/gallery-background-768.png);
  }

  .gallery__content-text {
    display: none;
  }

  .gallery__content-text__768 {
    display: block;
    color: #fff;
    font-weight: 600;
  }

  .gallery-main {
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 68px;
  }

  .choices {
    margin-bottom: 0px;
    width: 280px;
  }

  .choices__inner {
    width: 280px;
  }

  .gallery__nav {
    top: 13px;
  }

  .gallery__swiper {
    /*padding-top: 110px;*/
    margin-bottom: -4px;
  }

  .swiper-slide__img__1024 {
    display: none;
  }

  .swiper-slide__img__768 {
    display: inline;
  }

  .gallery__swiper {
    max-width: 668px;
    margin-bottom: 30px;
    padding-top: 120px;
  }

  .swiper-slide__img__768 {
    margin: 0;
    margin-bottom: 30px;
  }

  .swiper-slide__img__768:not(:nth-child(2n)) {
    margin-right: 29px;
  }

  .swiper-button-next, .swiper-button-prev {
    top: 70px;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    left: 100px;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    top: 48px;
    left: 43px;
  }

  .gallery-slide::after,
  .gallery-slide-active::after {
    width: 269px;
  }

  .catalog__heading {
    margin-top: -3px;
    margin-right: 28px;
  }

  .catalog__tabs {
    margin-top: -6px;
  }

  .catalog__tabs-list {
    margin-right: -10px;
  }

  .catalog__tabs-item:not(:last-child) {
    margin-right: 30px;
  }

  .catalog__top {
    margin-bottom: 8px;
  }

  .catalog__text {
    margin-bottom: 20px;
  }

  .catalog__content-info {
    margin-right: 0;
  }

  .catalog__accordion-header {
    max-width: unset;
  }

  .artists-list {
    width: 668px;
    /*height: 288px;*/
    column-count: 3;
  }

  .catalog__accordion-artists {
    width: 206px;
  }

  .catalog__accordion-artists.one {
    margin-right: 50px;
  }

  .catalog__accordion-artists.two {
    margin-right: 30px;
  }

  .catalog__show {
    flex-direction: column-reverse;
  }

  .catalog__accordion {
    width: 668px;
    margin-left: 0;
    margin-bottom: 50px;
  }

  .catalog__content-info {
    max-width: 668px;
  }

  .placeholder-text {
    max-width: 400px;
    line-height: 21.79px;
  }

  .events {
    padding-top: 30px;
    padding-bottom: 77px;
  }

  .events__content {
    margin-bottom: 18px;
  }

  .events__block:not(:nth-child(3n)) {
    margin: 0;
    margin-bottom: 34px;
  }

  .events__block:not(:nth-child(2n)) {
    margin-right: 33px;
  }

    .events__block {
      max-width: 317px;
     /* margin-bottom: 34px;*/
    }

  .events__small-heading {
    width: 253px;
  }

  .events__text {
    max-width: 243px;
  }

  .events__block__768 {
    display: none;
  }

  .events__block-three {
    display: block;
  }

  .events__block__hidden {
    display: none;
  }

  #events__block-one {
    margin-right: 27px;
   /* margin-top: 27px;*/
  }

  #events__block-two {
    margin-right: 0;
   /* margin-top: 27px;*/
  }

  /*#events__block-three {
    margin-top: 27px;
  }*/

  .publishing {
    background-image: url("../img/publishing-background-768.png");
  }

  .publishing__container {
    padding-top: 86px;
    padding-bottom: 76px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .publishing__checklist {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 160px;
    flex-wrap: wrap;
  }

  .test {
    width: 200px;
  }

  .publishing__range {
    margin-top: 2px;
    width: 278px;
    padding-bottom: 0;
  }

  .publishing__checklist-heading {
    margin-top: 15px;
  }

  .publishing__small-heading {
    margin-top: 25px;
  }

  .publishing__content {
    padding-top: 110px;
    padding-left: 24px;
  }

  .publishing__article:not(:last-child) {
    margin-right: 34px;
  }

  .container__gallery {
    max-width: 640px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:110px;
  }

  .swiper-wrapper-hard {
    margin-left: 7px;
  }

  .test-navigation {
    margin-left: -34px ;
  }

  .projects__text {
    width: 658px;
    margin-bottom: 25px;
  }

  .projects__link {
    white-space: nowrap;
  }

  .projects__small-heading {
    margin-bottom: 30px;
  }

  .swiper-turbo {
    width: 668px;
    padding-right: 33px;
    padding-left: 33px;
  }

  .swiper-turbo-slide-active {
    padding-left: 19px;
  }

  .swiper-button-next-turbo {
    left: 638px;
  }

  .swiper-button-prev-turbo, .swiper-button-next-turbo {
    top: 60px;
  }

  .contacts__container {
    max-width: 768px;
    padding-bottom: 0;
  }

  .contacts__info {
    padding-right: 45px;
  }

  .footer__container {
    padding-top: 50px;
  }

  .nav-block {
    top: 0;
    margin-left: -20px;
  }

}

@media (max-width: 700px) {

  .container {
    max-width: 290px;
    padding: 25px 0 25px 0;
  }

  .header__container {
    padding: 0;
  }

  .header__content-one {
    padding: 0;
  }

  .heading {
    font-size: 28px;
    line-height: 38.13px;
  }

  @keyframes backgrounds {
    0% {
      background-image: url(../img/header-background-320.jpg);
    }

    50% {
      background-image: url(../img/header-background2-320.png);
    }

    100% {
      background-image: url(../img/header-background3-320.png);
    }
  }

  .header-hero {
    background-image: url(../img/header-background-320.jpg);
  }

  .burger-menu {
    width: 320px;
    height: 355px;
  }

  .burger-menu__content {
    padding: 15px 0 0 15px;
    height: 315px;
  }

  .burger-menu__list {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 18px;
  }

  .header__item-link {
    font-size: 16px;
    line-height: 32px;
  }

  .burger-menu__btn {
    width: 119px;
    padding: 11px 30px;
    font-size: 12px;
    line-height: 16.34px;
  }

  .burger-menu__close {
    width: 15px;
    height: 15px;
  }

  .header__logo {
    display: none;
  }

  .header__logo-1024 {
    display: none;
  }

  .header__logo-320 {
    display: block;
    margin-left: 48px;
    margin-top: 1px;
  }

  .burger_1024 {
    display: none;
  }

  .burger_320 {
    display: block;
  }

  .search-block-1024__loopa {
    display: none;
  }

  .loopa-320 {
    display: block;
  }
    /*класс для JS*/
  .search-block__320__clicked {
    display: block;
    position: absolute;
    margin-left: -15px;
    width: 320px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .header__content-one {
    max-width: unset;
    height: 45px;
  }

  .search-block-320__loopa {
    position: absolute;
    top: 40px;
    left: 47px;
  }

  .search-block-320__search-320 {
    position: absolute;
    top: 34px;
    left: 68px;
    width: 180px;
    color: #FFF;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFF;
  }

  .search-block-320__close {
    position: absolute;
    top: 30px;
    right: 15px;
  }

  .hero {
    padding-top: 33px;
    padding-left: 0;
    padding-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    /*height: 245px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__heading {
    font-size: 32px;
    line-height: 36.8px;
    width: 265px;
    /*height: auto;*/
    text-align: center;
  }

  .hero__text {
    margin-bottom: 40px;
    margin-top: 0;
    width: 265px;
    height: auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.34px;
    text-align: center;
  }

  .hero__btn {
    padding: 11px 16.13px 14.45px 19.14px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 16.34px;
  }

  .about {
    padding-bottom: 41px;
    padding-top: 50px;
  }

  .about__heading {
    margin-bottom: 5px;
  }

  .about__text {
    margin-top: 12px;
    font-size: 14px;
    line-height: 28px;
  }

  /*.gallery {
    margin-bottom: 52px;
  }*/

  .gallery-main {
    padding: 50px 0 40px 0;
  }

  .gallery__content {
    padding-left: 2px;
  }

  .gallery__content-heading {
    /*padding-top: 50px;*/
    margin-bottom: 10px;
  }

  .gallery__small-heading {
    margin-bottom: 5px;
  }

  .choices {
    margin-top: -5px;
    margin-bottom: 10px;
    width: 290px;
  }

  .choices__inner {
    width: 290px;
  }

  .choices__list--single {
    width: 289px;
  }

  .swiper-slide__img__768 {
    display: none;
  }

  .swiper-slide__img__320 {
    display: inline;
  }

  .swiper-slide.mobile {
    display: block;
  }

  .gallery__swiper {
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 70px;
  }

  .swiper-button-next, .swiper-button-prev {
    top: 450px;
  }

  .swiper-button-prev {
    left: 80px;
  }

  .swiper-button-next {
    left: 180px;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    top: 427px;
    left: 111px;
    width: 67px;
  }

  .gallery__content-text__768 {
    width: 280px;
  }

  .gallery__nav {
    top: 0;
  }

  .gallery-slide::before, .gallery-slide-active::before {
    display: none;
  }

  .gallery-slide::after, .gallery-slide-active::after {
    display: none;
  }

  .catalog {
    padding-top: 50px;
  }

  .catalog__top {
    flex-direction: column;
    margin-bottom: 12px;
  }

  .catalog__tabs-list {
    padding-top: 12px;
    margin-right: -20px;
    margin-left: -22px;
  }

  .catalog__tabs-item {
    width: 40px;
    height: 40px;
    padding: 4px;
  }

  .catalog__tabs-item:not(:last-child) {
    margin-right: 20.5px;
  }

  .catalog__heading {
    align-self: flex-start;
  }

  .catalog__text {
    display: none;
  }

  .catalog__accordion {
    width: 290px;
  }

  .catalog__accordion-years {
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
  }

  .catalog__accordion-svg {
    width: 30px;
    height: 30px;
  }

  .artists-list {
    /*height: auto;
    max-height: unset;*/
    column-count: 1;
    width: 290px;
  }

  .catalog__placeholder-square {
    width: 79px;
    height: 118px;
    margin: 5px;
  }

  .catalog__small-heading {
    font-size: 18px;
    line-height: 32px;
  }

  .catalog__accordion-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .ui-accordion-header-active {
    margin-bottom: 20px;
  }

  .square-outline {
    margin-bottom: 20px;
  }

  .artists-list {
    margin-bottom: 20px;
    flex-wrap: nowrap;
  }

  .catalog__content-info-img {
    margin-bottom: 20px;
  }

  /*.catalog {
    margin-bottom: 50px;
  }*/

  .events {
    padding-top: 26px;
    padding-bottom: 50px;
  }

  .events__heading {
    margin-bottom: 12px;
  }

  .events__block {
    max-width: 290px;
  }

  .events__info {
    padding-left: 27px;
    padding-right: 12px;
  }

  .events__small-heading {
    width: 255px;
    margin-bottom: 35px;
  }

  .catalog__content-header {
    margin-bottom: 10px;
  }

  .catalog__content-text {
    width: 288px;
  }

  .events__text {
    max-width: 234px;
    margin-bottom: auto;
  }

  .events__img-text {
    margin: 0;
  }

  .events__link {
    margin-left: -5px;
  }

  .events__content, .events__btn {
    display: none;
  }

  .events__block:not(:nth-child(2n)) {
    margin: 0;
  }

  .mobile-bullets {
    color: black;
    top: 703px;
  }

  .swiperEvents {
    overflow: hidden;
    margin-left: -15px;
    display: block;
    /*padding-bottom: 50px;*/
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }


  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .mobile-bullets {
    width: 110px;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    line-height: 0;
  }

  .mobile-bullets {
    margin-top: 20px;
    margin-left: 90px;
    height: 10px;
    display: flex;
    justify-content: space-between;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet-active {
    background: #666;
  }

  .publishing {
    background-image: url("../img/publishing__background-320.png");
    height: 1542px;
  }

  .publishing__container {
    padding-top: 0;
  }

  .publishing__heading {
    margin-bottom: 12px;
  }

  .publishing__info {
    padding-top: 50px;
  }

  .publishing__checklist {
    display: none;
  }

  .publishing__checklist-heading {
    display: none;
  }

  .container__gallery {
    max-width: 290px;
    padding: 0;
    display: flex;
  }

  .slide {
    margin-bottom: 50px;
  }

  .slide:not(:nth-child(2n)) {
    margin-right: 20px;
  }

  .slides-wrap {
    display: flex;
    overflow: hidden;
  }

  .publishing__price {
    display: none;
  }

  .publishing__price.mobile {
    display: block;
  }

  /*Подсказали*/

  .form-container {
    display: block;
  }

  .questions {
    margin-bottom: 18px;
    align-items: stretch;
    width: 100%;
  }

  .heading-form {
    padding: 2px 40px 4px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    transition: color 0.3s ease;
  }

  .heading-form::after {
    content: "";
    position: absolute;
    top: 48%;
    right: 3px;
    width: 6px;
    height: 6px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    transform: translateY(calc(-50% - 0.5px)) rotate(45deg);
    transition: transform 0.3s ease;
  }

  .heading-form.is-active::after {
    transform: translateY(-50%) rotate(225deg);
  }

  .heading-form.is-active~.checkbox-wrap .checkbox-content,
  .heading-form:not(.is-active)~.checkbox-wrap .checkbox:checked~.checkbox-content {
    min-height: 38px;
    height: auto;
    padding-top: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    opacity: 1;
  }

  .checkbox-wrap .checkbox-content {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    height: 0;
    min-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0 solid transparent;
    opacity: 0;
    transition-property: min-height, opacity, padding, border;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }

  .checkbox:checked~.checkbox-content .close-icon {
    opacity: 1;
  }

  .close-icon {
    position: absolute;
    right: 0;
    top: 12px;
    width: 15px;
    height: 15px;
    opacity: 0;
    transition: opacity 0.3s linear;
  }

  .close-icon::before,
  .close-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: #C283F3;
  }

  .close-icon::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .close-icon::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }


  /*Подсказали*/

  .publishing__small-heading {
    margin-top: 8px;
  }

  .publishing__info {
    margin-right: 0;
  }

  .publishing__range {
    margin-bottom: 51px;
  }

  .publishing__form {
    width: 278px;
  }

  .swiper__publishing__tablet {
    display: none;
  }

  .publishing__books__mobile {
    display: block;
  }

  .publishing__article {
    width: 130px;
    height: 254px;
    padding: 0;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: top;
  }

  .publishing__article:not(:last-child) {
    margin-right: 0;
    margin-bottom: 50px;
  }

  .publishing__name, .publishing__author, .publishing__price, .publishing__link {
    font-size: 12px;
    line-height: 16.34px;
  }

  .publishing__name-price {
    margin: 0;
  }

  .publishing__author {
    margin-bottom: 0;
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .publishing__price {
    margin-bottom: 23px;
  }

  .publishing__link {
    padding: 10px 36.65px;
    width: 99.67px;
    height: 40px;
    box-sizing: border-box;
  }

  .publishing__img {
    margin-bottom: 8px;
  }

  .projects__heading {
    margin-bottom: 12px;
  }

  .projects__text {
    width: inherit;
    margin-bottom: 10px;
  }

  .projects__small-heading {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 10px;
  }

  .swiper-turbo {
    width: 291px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .swiper-turbo-slide-active {
    padding-left: 27px;
  }

  .swiper-turbo {
    width: 290px;
  }

  .swiper-button-next-turbo, .swiper-button-prev-turbo {
    top: 40px;
  }

  .swiper-button-prev-turbo {
    left: 0;
  }

  .swiper-button-next-turbo {
    left: 260px;
  }

  .projects__container {
    padding-top: 50px;
  }

  .contacts__container {
    padding-top: 22px;
    padding-bottom: 30px;
  }

  .contacts__info {
    padding: 0;
    width: inherit;
    border: none;
  }

  .contacts__name, .contacts__tel {
    width: 290px;
  }

  .contacts__heading {
    margin-bottom: 12px;
    margin-left: 0;
  }

  .contacts__small-heading {
    margin-bottom: 0;
    padding-top: 0;
    font-size: 18px;
    line-height: 24.51px;
  }

  .contacts__content {
    flex-direction: column;
  }

  .contacts__map.desktop {
    display: none;
  }

  .contacts__map.mobile {
    display: block;
    width: 320px;
    height: 320px;
    margin-left: -15px;
    margin-top: 15px;
  }

  .contacts__text {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 19px;
  }

  .contacts__callback {
    margin-top: 20px;
    font-size: 18px;
  }

  .contacts__btn {
    padding: 10px 35px;
    margin-bottom: 20px;
    width: 128px;
    font-size: 12px;
    line-height: 16.34px;
  }

  .contacts__callback-social {
    margin-top: 0;
    margin-bottom: 7px;
  }

  .contacts__form-group {
    margin-bottom: 20px;
  }

  .contacts__social-img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }

  .footer {
    height: 136px;
  }

  .footer__container {
    flex-direction: column-reverse;
    padding-top: 28px;
    padding-bottom: 20px;
  }

  .footer__social {
    margin-left: 40px;
    margin-bottom: 20px;
  }

  .footer__social-link {
    width: 50px;
    height: 50px;
  }

  .footer__logo {
    margin-left: 97px;
    width: 96.8px;
    height: 21.67px;
  }

  .swiper-slide-hard {
    max-width: 130px;
  }

  .swiper-slide-hard:not(:nth-child(2n)) {
    margin-right: 28px;
    margin-bottom: 50px;
  }

  .swiper-wrapper-hard {
    display: flex;
    flex-wrap: wrap;
    max-width: 290px;
    margin-left: 0;
  }

  .nav-block {
    display: none;
  }
}
